.btn-cartoon-green {
    cursor: pointer;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
    background-color: #74FF45;
    color: black;
  }

.btn-cartoon-green:hover {
    background-color: #74FF45;
    box-shadow: 0 0 20px #74FF45;
    color: black;
}

.btn-close-white {
    color: #A01861;
}

.clickable-name {
    cursor: pointer;
}

.clickable-name:hover {
    color: green;
}


.modal {
    z-index: 2;
    width: auto;
    height: auto;
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: rgba(1,33,4,.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid #74FF45;
    border-color: #74FF45;
}