.btn-cartoon-green {
    cursor: pointer;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
    background-color: #74FF45;
    color: black;
  }

.btn-cartoon-green:hover {
    background-color: #74FF45;
    box-shadow: 0 0 20px #74FF45;
    color: black;
}
